---
#

- name: Start stripe-charge-processor container
  docker_container:
    name: "{{ container_name }}"
    image: "{{ container_image }}"
    recreate: yes
    pull: yes
    labels: "{{ labels }}"
    networks:
      - name: "{{ traefik_network }}"
    env:
      STRIPE_SECRET_KEY: "{{ stripe_secret_key }}"
      STRIPE_CHARGE_DESCRIPTION: "{{ stripe_charge_description }}"
