---
#

- name: Start stripe-charge-processor container
  docker_container:
    name: "{{ container_name }}"
    image: "{{ container_image }}"
    restart: yes
    pull: yes
    labels: "{{ labels }}"
    networks:
      - name: "{{ docker_networkz }}"
